<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.mmixel.hw2">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hw2">
        <activity
            android:name=".lesson2.ImplicitIntentsActivity"
            android:exported="false" />
        <activity
            android:name=".lesson2.ActivityLifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".lesson2.TwoActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.LearnToHelpYourselfActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.ScrollingTextActivity"
            android:exported="false" />
        <activity
            android:name=".lesson1.HelloToastPtB"
            android:exported="false" />
        <activity
            android:name=".lesson1.HelloToastPtA"
            android:exported="false" />
        <activity
            android:name=".lesson1.HelloWorldActivity"
            android:exported="false" />
        <activity
            android:name=".NavActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>